@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr .6fr 1.4fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1em 1em;
}
body {
  margin: 0px;
}
.Header { grid-area: 1 / 1 / 2 / 3; padding-left: 50px; padding-top: 15px; background-color: #f1faee}

.Widgets { grid-area: 1 / 3 / 2 / 4; background-color: #457B9D }

.Content { grid-area: 2 / 2 / 3 / 4; padding: 50px; background-color: #1D3557 }

.Menu { grid-area: 2 / 1 / 3 / 2; background-color: #A8DADC}

img {
  width: 100px; padding-top: 5px;
}
.socialImg{
  width: 180px; height: 80px; padding-top: 30px; padding-left: 160px;
}
.Company{
  display: inline-block; position: relative; bottom: 30px; padding-left: 20px;
}

p {
  font-family: 'Lato', sans-serif; font-size: 22px;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-family: 'Raleway', sans-serif;
}
.container {
  height: 100vw;
  padding: 20px;

  background: #83a4d4;
  background: linear-gradient(to left, #b6fbff, #a1b3cf);

  color: #171212;
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.item > span {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}

.button {
  background: transparent;
  border: 1px solid #171212;
  padding: 5px;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.button:hover > svg > g {
  fill: #ffffff;
  stroke: #ffffff;
}

.button_small {
  padding: 5px;
}

.button_large {
  padding: 10px;
}

.search-form {
  padding: 10px 0 20px 0;
  display: flex;
  align-items: baseline;
}

.label {
  border-top: 1px solid #171212;
  border-left: 1px solid #171212;
  padding-left: 5px;
  font-size: 24px;
}

.input {
  border: none;
  border-bottom: 1px solid #171212;
  background-color: transparent;

  font-size: 24px;
}

li {display: block; position: relative; padding: 4px;
}
link {text-decoration: none; text-transform: uppercase; position: relative;
    top: -30px; color: white;
}
link:hover { color: black
}
link::before {
    content: ''; display: block; height: 5px; width: 100%;
    background-color: black; position: relative; top: -15px; width: 0%;
    transition: all ease-in-out 250ms;
}
link:hover::before { width: 100%;
}